<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>26402925182-ockt221c8oehn0hf1jrajpidchafhimt.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.26402925182-ockt221c8oehn0hf1jrajpidchafhimt</string>
	<key>API_KEY</key>
	<string>AIzaSyCo9DzepHzw0fsCV7fp8XA2nTaXSN3Y4Lo</string>
	<key>GCM_SENDER_ID</key>
	<string>26402925182</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>imadiaz.FitnessApp</string>
	<key>PROJECT_ID</key>
	<string>fitnessapp-d95f4</string>
	<key>STORAGE_BUCKET</key>
	<string>fitnessapp-d95f4.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:26402925182:ios:98da45d32e4b1ae289862f</string>
	<key>DATABASE_URL</key>
	<string>https://fitnessapp-d95f4.firebaseio.com</string>
</dict>
</plist>